.calculator-container > h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.calculator-input, .calculator-button {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.calculator-input > input {
    width: 5em;
    border-radius: 10%;
}

.calculator-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
