.card-summary-block {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    border-style: none;
}

.card-summary-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.6em 0;
}

.card-summary-footer {
    background-color:#222;
    opacity: 0.3;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    width: 100%;
}

.card-summary-footer>h6 {
    width: 100%;
}

.card-summary-icon {
    margin: 0.2em 0.7em 0 0;
    opacity: 0.3;
}

.card-summary-parent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.card-summary-value {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5em;
    color: white;
}